<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AfterburnerDataHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AfterburnerDataHandler.Properties.SerialPortSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AfterburnerDataHandler.Properties.Settings>
            <setting name="SerialPort_LastProject" serializeAs="String">
                <value />
            </setting>
            <setting name="Logger_LastProject" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialPort_LastPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialPort_Autorun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerialPort_OpenLastProject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SerialPort_ServerNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SerialPort_PortWhitelist" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialPort_PortBlacklist" serializeAs="String">
                <value />
            </setting>
            <setting name="Logger_Autorun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Logger_OpenLastProject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Logger_ServerNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Logger_LoggingNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Logger_LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Logger_LogHotkey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Logger_LogName" serializeAs="String">
                <value />
            </setting>
        </AfterburnerDataHandler.Properties.Settings>
    </userSettings>
</configuration>